<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wework.employee.mapper.EmployeeAuthMapper">

    <select id="selectRoleCodesByEmpId" resultType="string">
        select
            r.role_code
        from employee_role er
        join role r
            on r.role_id = er.role_id
        where er.emp_id = #{empId}
        order by r.role_id
    </select>

    <select id="selectEmployeeInfoToDeptNameByEmpId"
            resultType="com.wework.account.dto.response.MyAccountResponseDto">
        select
            e.emp_id      as empId,
            e.login_id    as loginId,
            e.name        as name,
            e.birthday    as birthday,
            e.email       as email,
            e.position    as position,
            d.dept_name   as deptName
        from employee e
        join department d
            on e.dept_id = d.dept_id
        where e.emp_id = #{empId}
    </select>

</mapper>